:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    margin: 60px auto;
    max-width: 800px;
    justify-content: center;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 78px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

p {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    line-height: 1.5;
}

.about-paragraphs {
    text-align: center;
}

.navbar-brand {
    font-size: 18px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    font-size: 20px;
    margin: 0px;
    transition: 200ms;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    font-size: 18px;
    margin: 20px;
    border-radius: 4px;
    min-width: 180px;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--primary-color);
    color: white;
}

.contact-link:hover,
.contact-link:focus {
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: 200ms;
}

.about-link {
    color: var(--primary-color);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--primary-color);
}

.about-link:hover,
.about-link:focus {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    transition: 200ms;
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.launch-btn {
    min-width: 186px;
}

.about-subtitle {
    font-weight: 300;
}

.about-paragraphs {
    display: flex;
    margin: 30px 0;
}

.about-paragraphs p {
    margin: 10px;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 24px;
    text-decoration: none;
}

.email-link:hover,
.email-link:focus {
    font-size: 28px;
    color: var(--primary-color);
}

.app-title,
.app-text {
    text-align: center;
}

.app-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden-img {
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}



@media (max-width:500px) {
    h1 {
        font-size: 58px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 18px;
    }

    .navbar-brand {
        margin-left: 16px !important;
    }

    .contact-title {
        font-size: 28px;
    }

    .email-link {
        font-size: 18px;
    }

    .navigation-links {
        margin: 20px;
    }

    .navigation-links a {
        margin: 10px;
        font-size: 16px;
    }

    .hide-text {
        display: none;
    }

    .app-title,
    .app-text {
        text-align: center;
    }

    .app-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 6px;
        box-shadow: var(--box-shadow);
    }

    .hidden-img {
        display: none;
    }
}